body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: sans-serif;
  font-size: 12pt;
  font-family: 'Raleway', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

#root {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  padding: 10px;
  background-color: #5BBEB6;
}

#title {
  color: #7c8089;
}

.gradient {
  width: 100%;
  height: 5px;
  background: linear-gradient(#333, #979797);
  opacity: .3;
  margin-bottom: -5px;
}

.menu {
  padding: 0px 10px;
}

.rectangle {
  margin: 3px 2px;
  padding: 1.5px 10px;
  background-color: rgb(124,128,137);
  border-radius: 5px;
  transition: .1s linear;
}

.menu:hover .rectangle {
  background-color: rgba(124,128,137,0.5);
}

.dirty-white-bg {
  background-color: #efefef;
}

#search {
  display: flex;
  margin: 0px 10px;
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
}

.searchBar {
  width: auto;
  display: flex;
  outline: none;
  border: none;
  background-color: #5baddc;
  color: #383a3c;
  padding: 10px 35px;
  margin-top: -35px;
  transition: margin .3s;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 10px center;
  background-image: url(../icons/searchIcon.svg);
}

.searchBarOpen {
  margin-top: 0px;
}

.searchBar::placeholder {
  color: #696d75;
}

  /*SVG styling*/

.searchIcon {
  enable-background:new 0 0 384 381;
}

.searchIcon, .xIcon {
  fill: rgb(111,114,123);
  width: 18px;
  height: 18px;
  padding: 5px;
}

.searchIcon:hover, .xIcon:hover {
  fill: rgba(111,114,123,0.5);
  cursor: pointer;
}

.xIcon {
  enable-background:new 0 0 415 409.7;
}

.avatarColor {
  width: 24px;
  height: 24px;
  fill: #5baddc;
}

.backArrow {
  width: 18px;
  height: 18px;
  fill: rgb(111,114,123);
  transform: rotate(180deg);
  transition: .1s linear;
}

.dottedMenu {
  width: 18px;
  height: 18px;
  fill: rgb(111,114,123);
}

.checkMark {
  width: 12px;
  height: 12px;
  fill: rgb(111,114,123);
}

.deleteIcon {
  width: 12px;
  height: 12px;
  fill: #e58484;
}

.addIcon {
  width: 16px;
  height: 16px;
  fill: white;
  transition: .1s linear;
}

.leftArrow, .rightArrow{
  width: 25px;
  height: 25px;
  fill: rgb(101,100,107);
  transition: .1s linear;
}

.leftArrow {
  transform: rotate(90deg);
}

.rightArrow {
  transform: rotate(-90deg);
}

.todoBodyHeader {
  display: flex;
  justify-content: space-between;
}

.categoryAvatar {
  width: 24px;
  height: 24px;
  padding: 6px;
  border: 1px solid rgba(51,51,51,0.3);
  border-radius: 50%;
}

.returnBack:hover .backArrow {
  fill: rgba(111,114,123,0.5);
}

#toDoContainer {
  padding: 30px 50px;
  background-color: #5b86dc;
  background: linear-gradient(to bottom left, #86adf8, #5bafbe, #5b86dc);
}

#toDoBody {
  padding: 30px 50px;
  background-color: #efefef;
}

.todoMenu {
  display: flex;
  padding: 0px 10px;
}

.todoMenu:hover .dottedMenu {
  fill: rgba(111,114,123,0.5);
}

.todoMenu:hover {
  cursor: pointer;
}

#userAvatarImg {
  width: 40px;
  height: 40px;
  background-color: #5BDCB6;
  border: 1px solid rgba(51,51,51,0.4);
  border-radius: 50%;
  box-shadow: -2px 5px 5px 0px rgba(91,220,182,0.5);
}

#userGreet {
  margin: 20px 0px;
  color: white;
  font-size: 15pt;
}

.quote {
  color: #5B5B5B;
  font-size: 10pt;
}

.author {
  color: #6F6F6F;
  padding: 5px 0px;
}

#taskCount {
  color: white;
  font-size: 11pt;
  margin-top: 10px;
}

#variousToDos {
  background: linear-gradient(to right , #5b86dc, #5bafbe);
  padding-bottom: 20px;
}

#date {
  color: white;
  font-weight: bolder;
  font-size: 8pt;
  padding: 0px 50px;
  margin-bottom: 20px;
}

#selectedToDo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 216px;
  max-width: 320px;
  margin: 0px 10px;
}

#selectedToDo:hover {
  cursor: pointer;
}

#selectedToDo:hover .toDoListSmall{
  background-color: #8aeee5;
}

.slideArrows {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: rgba(91,190,182,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  transition: .1s linear;
}

.slideArrows:hover {
  background-color: rgba(91,190,182,0.9);
  cursor: pointer;
  transition: .1s linear;
}

.slideArrows:hover .leftArrow, .slideArrows:hover .rightArrow{
  fill: white;
}

#hidden {
  display: none;
}

.toDoListSmall {
  background-color: #fff;
  color: #777;
  padding: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  transition: .1s linear;
}

.toDoListSmall .categoryAvatar {
  margin-bottom: 60px;
}

#toDoListContainerSmall {
  display: flex;
  justify-content: space-between;
}

#toDoListContainer {

}

.toDoLists {
  margin: 20px 0px;
  color: #777;
}


.headerCategoryImg {
  padding: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(51,51,51,0.3);
  border-radius: 50%;
}

.numOfTasks {
  font-size: 10pt;
}

.categoryName {
  margin: 10px 0px;
  font-size: 20pt;
  font-weight: 500;
}

.statusBar {
  display: flex;
  align-items: center;
}

.progressBar {
  display: flex;
  width: 100%;
  height: 3px;
  margin-right: 5px;
  background-color: rgba(51,51,51,0.2);
}

.progress {
  background-color: #5baddc;
}

.percentage {
  font-size: 8pt;
}

.listOfTodos {

}

.unfinishedTodo, .finishedTodo {
  margin-top: 10px;
  font-size: 8.5pt;
  color: #5B5B5B;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.todo-items {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
}

.todo-items .checkMark{
  display: none;
}

.check-container {
  display: flex;
  align-items: center;
}

.check-svg-container {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(91,91,91,0.3);
  margin-right: 10px;
  transition: .1s linear;
}

.check-container:hover .check-svg-container, .marked {
  border: 1px solid rgba(91,91,91,0.5);
  background-color: #2dea20;
}

.check-container:hover {
  cursor: pointer;
}

.check-container:hover .checkMark, .marked .checkMark{
  display: block;
}
/*hehe*/
.textContainer {
  max-width: 230px;
}

.delete-item {
  display: flex;
  align-items: center;
}

.delete-item:hover .deleteIcon {
  fill: #D84545;
}

.delete-item:hover {
  cursor: pointer;
}

.finishedItem {
  transition: background-color .5s ease;
}

.finishedItem .check-svg-container {
  background-color: rgb(91,190,182);
}

.finishedItem .checkMark{
  display: block;
}

.add-todo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #5BADDC;
  background: linear-gradient(to bottom left, #5BADDC, #809af3);
  box-shadow: -2px 5px 5px 0px rgba(128,154,243,0.5);
}

.add-todo:hover .addIcon{
  fill: #2dea20;
}

.add-todo:hover {
  cursor: pointer;
}

.add-todo:active {
  box-shadow: inset 0px 0px 5px 0px rgba(86,114,209,0.5);
}

input {
  width: calc(100% - 10px);
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #c5c5c5;
  color: #999;
}

.category-item {
  width: 50%;
}

.category-circle {
  padding: 7px;
  border-width: 1px;
  border-radius: 50%;
  border-style: solid;
}

.add-button {
  border: 1px solid #41a0d6;
  background-color: #5BADDC;
  transition: .1s linear;
}

.add-button:hover {
  border-color: #2d7ead;
}

.add-button:hover .addIcon {
  fill: #2dea20;
}































































/**/
