body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: sans-serif;
  font-size: 12pt;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #5b86dc;
  background: linear-gradient(to right, #5b86dc, #739def);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #5BBEB6;
  position: relative;
  z-index: 5;
}

.gradient {
  width: 100%;
  height: 5px;
  background:  linear-gradient(#333, #5b86dc);
  opacity: .3;
}

#menu {
  margin: 0px 10px;
}

.rectangle {
  margin: 3px 2px;
  padding: 1.5px 10px;
  background-color: rgb(124,128,137);
  border-radius: 5px;
}

#menu:hover .rectangle {
  background-color: rgba(124,128,137,0.5);
}

#menu:hover {
  cursor: pointer;
}

#title {
  margin: 0px 150px;
  color: #7c8089;
  font-weight: bold;
}

#search {
  display: flex;
  margin: 0px 10px;
}

#searchBarContainer {
  display: flex;
  flex-direction: column;
}

.searchBar {
  width: auto;
  display: flex;
  outline: none;
  border: none;
  background-color: #5baddc;
  color: #383a3c;
  padding: 10px 35px;
  margin-top: -35px;
  transition: margin .5s;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 10px center;
  background-image: url(icons/searchIcon.svg);
}

.searchBarOpen {
  margin-top: 0px;
}

.searchBar::placeholder {
  color: #696d75;
}

#searchIcon, #xIcon {
  fill: rgb(111,114,123);
  width: 18px;
  height: 18px;
  padding: 5px;
}

#searchIcon:hover, #xIcon:hover {
  fill: rgba(111,114,123,0.5);
  cursor: pointer;
}

#xIcon {
  display: none;
}

#toDoBody {
  padding: 10px 30px;
}

#userAvatarImg {
  width: 40px;
  height: 40px;
  background-color: #5BDCB6;
  border: 1px solid rgba(51,51,51,0.4);
  border-radius: 20px;
  box-shadow: -2px 5px 5px 0px rgba(91,220,182,0.5);
}

#userGreet {
  margin: 20px 0px;
  color: white;
  font-size: 15pt;
}

#inspirationQuote {
  max-width: 350px;
}

.quote {
  color: #D2CCB7;
  font-size: 10pt;
}

.author {
  color: #5B5B5B;
  padding: 5px 0px;
}







































































































/**/
